<ul>
  <% @bookmarks.each do |bookmark| %>
    <li> ID ; <%= bookmark.id %>Title <%= bookmark.title %>  Websites<%= bookmark.url %> 
    <form action="/"> 
  <input type="submit" value="Delete"/>
</form>
    </li>
  <% end %>
</ul>