<form action="/bookmarks" method="post">
  <h5>Website details   <input type="text" name="url" placeholder="URL"/></h5>
  <h5>   title <input type="text" name="title" placeholder="Title"/></h5>
  <input type="submit" value="Submit"/>
</form>
